#Assignment 1 - Pattern Programming
REGex Software Services
REFERRAL CODE: DIRSS3131
DataScience Specialization Batch D- January 2022
Amrutha Koduri

In [43]:
#Q1
x=5
for i in range(0,x):
  for j in range(0,(x-i)):
    print(x,end=' ')
  print()

5 5 5 5 5
5 5 5 5
5 5 5
5 5
5

In [44]:
#Q2
for i in range(0,5):
  for j in range(0,(6-i)):
    print(j,end=' ')
  print()

0 1 2 3 4 5
0 1 2 3 4
0 1 2 3
0 1 2
0 1

In [45]:
#Q3
x=[1,3,5,7,9]
for i in range(0,5):
  for j in range(0,i+1):
    print(x[i],end=' ')
  print()

1
3 3
5 5 5
7 7 7 7
9 9 9 9 9

In [46]:
#Q4
for i in range(0,5):
  x=1
  for j in range(0,i+1):
    print(x+i,end=' ')
    x-=1
  print()

1
2 1
3 2 1
4 3 2 1
5 4 3 2 1

In [47]:
#Q5
x=0
for i in range(0,5):
  x+=i
  for j in range(0,i):
    print(x-j,end=' ')
  print()

1
3 2
6 5 4
10 9 8 7

In [48]:
#Q6
from math import factorial
n=7
for i in range(n):
  for j in range(i+1):
    print(factorial(i)//(factorial(j)*factorial(i-j)), end=" ")
  print()

1
1 1
1 2 1
1 3 3 1
1 4 6 4 1
1 5 10 10 5 1
1 6 15 20 15 6 1

In [49]:
#Q7
for i in range(1,6):
  for j in range(1,6):
    if i<=j :
      print(j,end=' ')
    else:
      print(i,end=' ')
  print()

1 2 3 4 5
2 2 3 4 5
3 3 3 4 5
4 4 4 4 5
5 5 5 5 5

In [50]:
#Q8
for i in range(1,9):
  for j in range(1,i+1):
    if (j==1):
      print(i," ",end="")
    else:
      print(i*j," ",end="")
  print()

1
2  4
3  6  9
4  8  12  16
5  10  15  20  25
6  12  18  24  30  36
7  14  21  28  35  42  49
8  16  24  32  40  48  56  64

In [51]:
#Q9
rows = 6
for i in range(0,rows):
  for k in range(i):
    print(" ",end="")
  for j in range(i,rows):
    print("* ", end="")
  print("")

* * * * * *
 * * * * *
  * * * *
   * * *
    * *
     *

In [52]:
#Q10
rows = 7
x=rows-1
for i in range(0,rows):
  for k in range(x):
    print(" ",end="")
  x-=1
  for j in range(0,i+1):
    print(" * ", end="")
  print("")

       *
      *  *
     *  *  *
    *  *  *  *
   *  *  *  *  *
  *  *  *  *  *  *
 *  *  *  *  *  *  *

In [53]:
#Q11
rows=6
for i in range(0,rows):
  for j in range(0,i+1):
    print("* ",end='')
  print("")
print("")
for i in range(0,rows):
  for j in range(i,rows):
    print("* ",end='')
  print("")

*
* *
* * *
* * * *
* * * * *
* * * * * *

* * * * * *
* * * * *
* * * *
* * *
* *
*

In [54]:
#Q12
rows=5
for i in range(0,rows):
  for j in range(0,i+1):
    print("* ",end='')
  print("")
for i in range(0,rows):
  if i==0:
      continue
  for j in range(i,rows):
    print("* ",end='')
  print("")

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [55]:
#Q13
m = 4
for i in range(1,6):
  for x in range(m):
    print(end='  ')
  m-=1
  print(*['*' for _ in range(0,i)])
m = 1
for i in range(4,0,-1):
  for _ in range(m):
    print(end='  ')
  m+=1
  print(*['*' for _ in range(i)])

        *
      * *
    * * *
  * * * *
* * * * *
  * * * *
    * * *
      * *
        *

In [56]:
#Q14
rows = 5
for i in range(0,rows):
  for k in range(i):
    print(" ",end="")
  for j in range(i,rows):
    print("* ", end="")
  print("")
x=rows-1
for i in range(0,rows):
  for k in range(x):
    print(" ",end="")
  x-=1
  for j in range(0,i+1):
    print(" *", end="")
  print("")

* * * * *
 * * * *
  * * *
   * *
    *
     *
    * *
   * * *
  * * * *
 * * * * *

In [57]:
#Q15
x,y,z=8,0,8
for i in range(0,8):
  for j in range(0,x):
    print("*",end="")
  x-=1  
  for k in range(0,y):
    print("_",end="")
  y+=2
  for l in range(0,z):
    print("*",end="")
  z-=1
  print("")

****************
*******__*******
******____******
*****______*****
****________****
***__________***
**____________**
*______________*